.vscode/**
.vscode-test/**
.git/**
src/**
out/**
test/**
.gitignore
.vscodeignore
.yarnrc
webpack.config.js
.eslintrc.json
tsconfig.json
tsconfig.test.json
**/tsconfig.json
**/.eslintrc.json
node_modules/**
**/*.map
**/*.ts
!dist/**/*